<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body th:with="user=${session.SPRING_SECURITY_CONTEXT.authentication.principal}">
	<h2 th:text="#{home.message.welcome(${user.name})}"></h2>

	<h3>你拥有的权限有：</h3>
	<ul>
		<li th:each="role : ${user.roles}" th:text="${role}"></li>
	</ul>

	<div th:insert="~{common :: logout}"></div>

	<form th:action="@{/}" th:object="${userInfo}" method="post">
		<table>
			<tr>
				<td th:text="#{form.label.name}"></td>
				<td>
					<input type="text" th:field="*{name}" >
				</td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
			</tr>

			<tr>
				<td th:text="#{form.label.email}"></td>
				<td>
					<input type="text" th:field="*{email}" >
				</td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
			</tr>

			<tr>
				<td th:text="#{form.label.password}"></td>
				<td>
					<input type="text" th:field="*{password}" >
				</td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
			</tr>

			<tr>
				<td th:text="#{form.label.telephone}"></td>
				<td>
					<input type="text" th:field="*{telephone}" >
				</td>
				<td th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></td>
			</tr>

			<tr>
				<td th:text="#{form.label.address}"></td>
				<td>
					<input type="text" th:field="*{address}" >
				</td>
				<td th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></td>
			</tr>

			<tr>
				<td th:text="#{form.label.age}"></td>
				<td>
					<input type="number" th:field="*{age}" >
				</td>
				<td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
			</tr>

			<tr>
				<td><button type="submit" th:text="#{form.submit.button}"></button></td>
			</tr>
		</table>

	</form>

<div th:insert="~{common :: language}"></div>

</body>
</html>