<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

	<h2 th:text="#{home.message.welcome('')}"></h2>

	<form th:action="@{/}" th:object="${userInfo}" method="post">
		<table>
			<tr>
				<td th:text="#{form.label.name}"></td>
				<td>
					<input type="text" th:field="*{name}" >
				</td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
			</tr>

			<tr>
				<td th:text="#{form.label.email}"></td>
				<td>
					<input type="text" th:field="*{email}" >
				</td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
			</tr>

			<tr>
				<td th:text="#{form.label.telephone}"></td>
				<td>
					<input type="text" th:field="*{telephone}" >
				</td>
				<td th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></td>
			</tr>

			<tr>
				<td th:text="#{form.label.address}"></td>
				<td>
					<input type="text" th:field="*{address}" >
				</td>
				<td th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></td>
			</tr>

			<tr>
				<td><button type="submit" th:text="#{form.submit.button}"></button></td>
			</tr>
		</table>

	</form>

	<table>
		<tr>
			<td>
				<form action="/language/changeSessionLanguage" method="get">
					<input name="lang" type="hidden" value="zh"  />
					<button>Chinese</button>
				</form>
			</td>
			<td>
				<form action="/language/changeSessionLanguage" method="get">
					<input name="lang" type="hidden" value="en" />
					<button>English</button>
				</form>
			</td>
		</tr>
	</table>

</body>
</html>