<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body th:with="df=#{global.date.format}">

<form th:action="@{/logout}" method="post">
	<input type="submit" value="Sign Out" />
</form>

<table>
	<tr th:each="userInfo,status : ${userInfoList}" th:style="${status.odd} ? 'background: yellow;'">
		<td th:text="${userInfo.name}"></td>
		<td th:text="${userInfo.email}"></td>
		<td th:text="${userInfo.telephone}"></td>
		<td th:text="${userInfo.address}"></td>
	</tr>
</table>
<br/>

<table>
	<tr th:each="userInfo,status : ${userInfoPage.list}" th:style="${status.odd} ? 'background: yellow;'">
		<td th:text="${userInfo.name}"></td>
		<td th:text="${userInfo.email}"></td>
		<td th:text="${userInfo.telephone}"></td>
		<td th:text="${userInfo.address}"></td>
	</tr>
</table>

<table>
	<tr th:if="${#arrays.length(userInfoPage.list)} gt 0" th:align="center">
		<td th:width="120">
			<a th:if="${userInfoPage.hasPreviousPage}" th:href="@{hello(page=${userInfoPage.prePage})}">Previous Page</a>
		</td>
		<td th:width="120">
			<span th:text="${userInfoPage.pageNum}"></span>/<span th:text="${userInfoPage.pages}"></span>
		</td>
		<td th:width="120">
			<a th:if="${userInfoPage.hasNextPage}" th:href="@{hello(page=${userInfoPage.nextPage})}">Next Page</a>
		</td>
	</tr>
</table>

<div>
	<h2 th:text="#{home.message.welcome(${userInfo.name})}"></h2>

	<p th:text="${#locale.country}"></p>

	<p th:text="${message}"></p>

	<p th:text="${#dates.format(date, df)}" ></p>

	<a th:href="@{//baidu.com}" target="_blank">baidu</a>

	<a th:href="@{/say/{data}(data=#{home.message.welcome(${userInfo.name})}, userId=${userId})}" target="_blank">say</a>

	<p>
		Now you are looking at a <span th:text="'working web application'">template file</span>
	</p>

	<div th:text="${content}">..22.</div><br>
	<div th:text="1_1">default asdasd</div><br>

	<div th:text="${21} % 2 ne 0">asdasd</div><br>

	<div th:text="${userId != null} ? _ ">asdasd</div><br>
	<div th:text="${userId} ?: _ ">2zs</div><br>

	<div th:text="${#numbers.formatInteger(32323, 3, 'COMMA')}"></div><br>

	<div th:text="${#numbers.formatDecimal(3434342.545, 3, 'COMMA', 2, 'POINT')}"></div><br>

</div>

<div th:insert="~{copy :: copy}"></div>

</body>
</html>